/* header */

#logo {
    position: absolute;
    top: 20px;
    left: 11%;
}

#nav-mobile {
    font-family: 'novecento_sans_widebook';
    color: #a29061;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    display: none;
}

.dropbtn {
    color: #af9a63;
    font-family: 'novecento_sans_widebook';
    background-color: #ffffff;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #af9a63;
    padding: 12px 16px;
    background-color: #ffffff;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #4d565d;
}

.show {
    display:block;
}

nav {
    position: absolute;
    top: 0px;
    right: 80px;
}

div.menu-element {
    float: left;
    margin-left: 40px;
    margin-right: 0px;
}

div.menu-element-line {
    height: 80px;
    border-left: 1px solid;
}

nav a {
    font-family: 'novecento_sans_widebook';
    color: #a29061;
    font-size: 18px;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
    display: inline;
}

nav a.active {
    color: #4d565d;    
}


#decor {
    background-color: #af9a63;
    width: 70px;
    height: 13px;
    float: left;
    position: absolute;
    top: 87px;
    right: 0px;
}

@media only screen and (max-width: 1280px) {
    nav {
        display: none;
    }
    
    #nav-mobile {
        display: inline;
        position: absolute;
        top: 0px;
        right: 180px;
    }
}

/* slider */

#slider {
    
}

/* welcome */

section#welcome {
    position: relative;
    0px;
    0px;
}

div#welcome-img img {
    z-index: -1;
}

div#welcome-content {
    position: absolute;
    top: 10%;
    left: 9%;
    width: 40%;
}

div#welcome-content h1 {
    font-family: 'novecento_sans_widebook', sans-serif;
    color: #ffffff;
    font-size: 60px;
    font-weight: 300;
}

div#welcome-content h2 {
    font-family: 'novecento_sans_widebook', sans-serif;
    color: #bdad80;
    font-size: 40px;
    font-weight: 300;
}

div#welcome-content p {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

div.read-more-btn {
    position: absolute;
    bottom: 3%;
    left: 50%;
}

@media only screen and (max-width: 1430px) {
    div#welcome-content h1 {
        font-size: 30px;
    }
    
    div#welcome-content h2 {
        font-size: 20px;
    }
    
    div#welcome-content p {
        font-size: 12px;
        line-height: normal;
    }
    
    div.read-more-btn img {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 1024px) {
    div#welcome-content h1 {
        font-size: 16px;
    }
    
    div#welcome-content h2 {
        font-size: 12px;
    }
    
    div#welcome-content p {
        font-size: 8px;
        line-height: normal;
    }
    
    div.read-more-btn img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 700px) {
    div#welcome-content {
        width: 80%;
        top: 0%;
    }
    
    div.read-more-btn {
        position: absolute;
        top: 10%;
        left: 70%;
    }
}

/* news */

section#news {
    position: relative;
    0px;
    0px;
}

div#news-img img {
    z-index: -1;
}

div.news-content {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 61%;
}

div.news-content-col {
    display: inline-block;
    border: 1px solid red;
    width: 40%;
}

div.news-content h1 {
    font-family: 'novecento_sans_widebook', sans-serif;
    color: #4d565d;
    font-size: 60px;
    font-weight: 300;
    border-bottom: 2px solid #4d565d;
}

div.news-content p.news-date {
    font-family: 'novecento_sans_widebook', sans-serif;
    color: #a29061;
    font-size: 22px;
    font-weight: 300;
    text-decoration: underline;
}

div.news-content h2 {
    font-family: 'novecento_sans_widebook', sans-serif;
    color: #4d565d;
    font-size: 40px;
    font-weight: 300;
}

div.news-content p {
    font-family: 'Open Sans', sans-serif;
    color: #4d565d;
    font-size: 16px;
    font-weight: 400;
}

/* footer */

footer {
    color: #677279;
}

footer a, footer a:hover{
    color: #677279;
}

div#footer-top {
    background-color: #455560;
}

div#footer-top-left {
    padding-top: 100px;
    padding-left: 9%;
}

div.col-links {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

div.col-links ul {
    list-style: none;
    padding: 0 30px;
}

div.col-links-left ul {
    padding-left: 0;
} 

div.col-links-center ul {
    border-left: 1px solid #677279;
    border-right: 1px solid #677279;
}

div#footer-top-right {
    font-family: 'novecento_sans_widebook', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 110px 9% 110px 0;
    text-align: right;
}

label {
    padding-right: 60px;
}

input[type=email] {
    height: 61px;
    width: 292px;
    border: 2px solid #2d3439;
    background-color: #455560;
}

input[type=submit] {
    background-color: #2d3439;
    width: 240px;
    height: 61px;
    border: 0;
    padding: 0;
}

div#footer-bottom {
    background-color: #2d3439;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
}

div#footer-bottom-left {
    padding-left: 9%;
}

div#footer-bottom-left img {
    float: left;
    padding: 38px 0;
}

div#footer-bottom-left p {
    padding: 40px 0;
    margin-left: 40px;
}

div#footer-bottom-right {
    padding-right: 9%;
    text-align: right;
}

div#footer-bottom-right p {
    padding: 40px 0;
}

@media only screen and (max-width: 640px) {
    div.col-links-center ul {
        border: 0;
    }
    
    div.col-links-left ul {
        padding-left: 30px;
    }
    
    input[type=email] {
        width: 240px;
    }
    
    #decor {
        display: none;
    }
    
    #logo {
        width: 60px;
        height: 60px;
        position: static;
        padding: 10px;
    }
    
    #nav-mobile {
        position: absolute;
        top: 20px
    }
    
    .menu-element-line {
        display: none;
    }
}